<div class="face-snap-card">
  <h2>{{ title }}</h2>
  <img [src]="imageUrl" [alt]="title" />
  <p>
    Mise en ligne le
    {{
      createdDate.toLocaleDateString("fr-FR", {
        day: "2-digit",
        month: "2-digit",
        year: "numeric",
        hour: "2-digit",
        minute: "2-digit",
        second: "2-digit"
      })
    }}
  </p>
  <p>{{ description }}</p>
  <!-- <button (click)="onSnap()">{{ snapped ? ohSnap : ooopsSnap }}</button> -->
  <button (click)="onSnap()">{{ buttonText }}</button>
  <p>{{ snaps }}</p>
</div>
